 /* COLORS: 
 LIGHT BLUE: rgb(189, 213, 234)  
 DARK BLUE: rgb(54, 106, 152)
 DARKER BLUE: rgb(36, 69, 97)*/

*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header-component,
.footer-component{
  display: flex;
  align-items: center;
  gap: 2em;
  background-image: url("./images/low_poly_grid_blue_1920_1080.svg");
  padding: 1em;
  height: 5vh;
  overflow: scroll;
}

.header-component::-webkit-scrollbar,
.footer-component::-webkit-scrollbar,
.container::-webkit-scrollbar
{
  width: 0;
  height: 0;
}

.header-component{
  justify-content: space-between;
}

.header-user{
  font-size: 1.5em;
}

.footer-component{
  justify-content: center;
}


.footer-copyright{
  color: rgb(189, 213, 234) ;
}

.header-component-inner{
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.header-profile{
  background-color: rgb(189, 213, 234);
  padding: 0.3em 1em;
}

.error-msg{
  color: black;
}

.error-msg-box{
  padding: 1em 6em;
  margin-bottom: 0.5em;
  border: 0.1em solid red;
  background-color: rgb(255, 139, 139);
}

.link{
  text-decoration: none;
}

label { 
  display: inline-block;
  width: 100px; 
  text-align: right; 
  margin-right: 0.2em;
  font-weight: bold;
}

.label-add-car,
.update-label{
  width: 60px; 
}



form{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgb(54, 106, 152);
  height: 20%;
  width: auto;
  padding: 1em 2em;
  gap: 0.5em;
  border: 0.2em solid black;
}

.login-row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}



.input-text,
.input-password,
select{
  height: 40px;
  width: auto;
  margin-top: 5px;
  font-size: 16px;
  color: rgb(189, 213, 234);
  background-color: rgb(36, 69, 97);
  padding-left: 10px;
}

.input-text:focus,
.input-password:focus,
select:focus{
  background-color: rgb(189, 213, 234);
  color: rgb(36, 69, 97);
  outline: none;
}

.input-number{
  width: 100px;
}

.input-color{
  border: transparent;
  background-color: transparent;
  height: 40px;
  width: 40px;
}


.login-label{
  font-size: 16px;
}

.form-row{
  display: flex;
  align-items: center;
  justify-content: left;
}
/* Home Component */

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/polygon_blue_massive.svg");
  height: 100%;
  min-height: 90vh;
  overflow: scroll;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.1em;
}

.card{
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
  background-color: rgb(221, 241, 255);
  padding: 0.5em;
  box-shadow: 0.5em 0.5em 0.5em rgb(36, 69, 97);
  border: 0.1em solid rgb(36, 69, 97);
}

.inner-card{
  width: 15em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgb(36, 69, 97);
  color: rgb(189, 213, 234);
}

.btn{
  height: 2em;
  width: 8em;
  border: none;
  background-color: rgb(189, 213, 234);
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

.btn-form{
  width: 100%;
  height: 3em;
}

.btn-home{
  height: 100%;
}

.btn:hover{
  cursor: pointer;
  background-color: rgb(166, 233, 255);
  border: 0.2em solid rgb(54, 106, 152);
}

img{
  width: 100%;
  display: block;
  border: 0.2em solid rgb(36, 69, 97);
}

.my-cars-btns{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.form-title{
  font-size: 48px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}